[Bb]uild/*
[Dd]ocs/*
CMakeCache.*
CMakeFiles/*
[Tt]esting/*
ebpf_code.h


### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
*.o
*.pyc
*.core
core.*
*.cache